* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0d192c;
  font-family: "Outfit", sans-serif;
}
.main {
  margin-top: 20px;
}
.container {
  width: 350px;
  margin: 0 auto;
  background-color: #15263f;
  padding: 24px;
  height: auto;
  border-radius: 24px;
}
.image {
  width: 100%;
  border-radius: 8px;
}
.img-container {
  position: relative;
}
.overlay-img {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-container:hover .overlay-img {
  opacity: 1;
}
.img-container:hover .image {
  opacity: 0.5;
}

.img-container:hover .overlay {
  width: 100%;
  height: 100%;
  background-color: red;
  display: block;
  opacity: 1;
  cursor: pointer;
  border-radius: 8px;
}

.h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  line-height: 27px;
  width: 300px;
}
.h1:hover {
  cursor: pointer;
  color: #00fff8;
}
.description {
  font-weight: 300;
  color: #8bacd9;
  line-height: 26px;
  width: 350px;
  font-size: 21px;
}

.random {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.price {
  display: flex;
  align-items: center;
  color: #00fff8;
}
.eth-icon {
  margin-right: 7px;
}
.time {
  display: flex;
  align-items: center;
  color: #8bacd9;
}
.clock-icon {
  margin-right: 3px;
}
.line {
  height: 1px;
  background: #2e405a;
  margin-top: 12px;
  margin-bottom: 12px;
}
.author {
  display: flex;
  align-items: center;
}
.author-p {
  color: #8bacd9;
  margin-left: 20px;
}
.author-name {
  color: White;
  text-decoration: none;
  margin-left: 5px;
}
.author-name:hover {
  cursor: pointer;
  color: #00fff8;
}
.avatar {
  width: 33px;
  height: 33px;
  border: solid white 1px;
  border-radius: 50px;
}
